{% extends 'layout.html' %} 
{% block content %} 
 
</br></br></br>
<div class="container">
 <div class="row">
 <div class="col-md-8 col-md-offset-2">
 <div class="jumbotron">
 <div class="text-center">
  <h1 style="font-family: 'Gloria Hallelujah', cursive;">Todo List
  </h1>
  </br>
    {% if cond %}
  <em class="{{ cond }}" name="{{ condt }}"></em>
    {% endif %}
  <ul class="list-group">
    {% for todo in todolist %}
<div class="input-group">
  <div class= "form-group">
    <div class="input-group">
      <span class="input-group-addon">
       
      <input type="checkbox" class="clickIci"  id="{{ todo }}" value="false" name="{{ todolist.indexOf(todo) }}"  onchange="change(this, {{ todolist.indexOf(todo) }} )" />
      </span>
   <li class="list-group-item form-control" style="width:370px; height:40px;">
   <div id="{{ todolist.indexOf(todo) }}"> {{ todo }} </div>
   </li>
   <span class="input-group-addon">
     <a href="/todo/supprimer/{{ todolist.indexOf(todo) }}" >×</a>
   </span>
      {% if date1 %}
      <span class="input-group-addon" style="background: #dff0d8;">
      <strong> {{ date1[todolist.indexOf(todo)] }} </strong>
      </span>
      {% endif %}
  </div>
</div>
    </div> 
    {% endfor %}
  </ul>
    
    {% if vr %}
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <strong>Well done! thank you for your sends </strong>
    </div>
    {% endif %}   

    {% if fx %}
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
     <strong>Sorry ! but your sends exists already </strong>
    </div>
    {% endif %}   

  <form action="/todo/ajouter/" method="post"  class="form-horizontal">
  <div class="form-group">
    <button type="button" class="btn btn-default"><a href="/">  All  </a></button>
    <button type="button" class="btn btn-default"><a href="/">Active</a></button>
    <button type="button" class="btn btn-default"><a href="/">Completed</a></button>
     {% if todolist[0] %}
    <button type="button" class="btn btn-default" style="text-align: right;"><a href="/">Clear completed</a></button>
     {% endif %}
   </div>
   <div class="form-group" style="text-align: center;"> 
    <input type="text" name="newtodo" maxlength=53 id="newtodo"  style="width:370px; height:32px;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;border: 1px solid #ccc;border-radius: 4px;color: #555;" placeholder="Que dois-je faire ?" autofocus />
   </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success">Ajouter</button>
 </div>

  </form>

 </div>
 </div>
 </div>
 </div>
 </div>
{% endblock %} 
